@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
font-family: 'Inconsolata', ;


  h1 {
    font-family: ‘Inconsolata’, Arial, serif;
    font-weight: 400;
    font-size: 32px;
  }
