    @import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,600,500,300);


    * {
      box-sizing: border-box;
    }

    .container{
      max-width: 1200px;
      margin: 0 auto;
      text-align: center;
      margin-top: 200px;

    }

    body {

      font-family: 'Source Code Pro', ;
      font-weight: 400;
      color:#4A4A4A;
      line-height: 30px;
      height: 100%;
      width: 100%;
      margin: auto;
      background: #ccc;
    }

    h1 {
      font-size: 20px;
      font-weight: 600;
    }

    h2{
      font-size: 1.5em;
      font-weight: 400;
      padding-bottom: 20px;
    }

    input {
      padding: 10px;
      border: solid 3px #c9c9c9;
      transition: border 0.3s;
      font-size: 1em;
      font-weight: 400;


    }


    input:focus,
    input:focus{
       border: solid 5px #4A4A4A;
       outline: 0;
    }

    input[disabled] {
      border: 0;
      border: solid 3px #c9c9c9;

    }


    .column{
      width: 31%;
      float: left;
      padding: 20px;
      margin: 0 1%;
      background: #fff;
      z-index: 1;
      cursor: pointer;
      position: relative;
      border: 5px solid #4A4A4A;
      height:350px;

    }



    .column:hover {
      z-index: 3;
      background: #99FFCC;
      border: 5px solid #4A4A4A;
      box-shadow: 6px 6px 0px 0px #4A4A4A;
    }
​

    .py {
      background-image: url('http://cloud.avandamiri.com/image/0l0a39261I29/triangle.png');
      background-size: 400px 260px;
      background-repeat: no-repeat;
      background-position: top center;
      height: 300px;
      width: 600px;
      position: relative;
    }
    .py input {
      width: 50px;
    }
    .py-a {
      position: absolute;
      top: 100px;
      left: 10px;
    }
    .py-b {
      position: absolute;
      top: 220px;
      left: 120px;
    }
    .py-c {
      position: absolute;
      left: 160px;
      top: 80px;
    }
    .circum {
      position: relative;

    }
    .circle {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      border: 5px solid #4A4A4A;
      position: absolute;
      left: 0px;
      top:20px;
    }
    .circum-r {
      position: absolute;
      top: 105px;
      left: 15px;
      width: 80px;
    }
    .circum-c {
      position: absolute;
      top: 105px;
      left: 100px;
      width: 150px;
    }
    .temp-f,
    .temp-c {
    width: 120px;
    }
    .temp {
      padding-left: 0px;
      display:inline;
    }
