
@import url(https://fonts.googleapis.com/css?family=Lato:400,100italic,300,300italic,100,400italic,700,700italic,900,900italic);

body {
  margin: 0px;
  padding: 0px;
  background: #666699;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
}

header {
  background-color: #666699;
  margin: 0px;
  padding: 0px;

}

h1 {
  font-size:     2;
  line-height:   1.5;
  color: #ffffff;
  font-weight:   300;
  padding-top: 5%;
  padding-bottom: 5%;
}


h2 {
  font-size:     1.2em;
  line-height:   1;
  color: #ffffff;
  font-weight:   300;
}


h3 {

  font-size:     1.5em;
  line-height:   1.5;
  color: #ffffff;
  font-weight:   400;

}

p {
  font-weight:   400;
  font-size:     1em;


}

strong{
  font-weight:   700;
  font-size:     1.8em;
  line-height:   1;
  color:#FF6600;
}


section{
  background-color: #666699;

}



/*
 Classes
 */

.architect {

 }

.architect_end {

 }

.nav {
  margin: 0 auto;
  text-align: center;
}



.section--1 {

  height: 400px;

}



.section--2 {

  height:800px;
}

.section--3 {

  height: 200px;


}

.section--4 {

  height: 200px;
  margin-top: 65%;

}

.section--5 {

  height:280px;
}

.section--6 {

  height:300px;
  margin-top: 280px;
}



.column {
  text-align: center;
  width:50%;

}

.arch-column {


  float:left;
}

.ux-column {

  float:right;
}

.title-education {
  text-align: center;
  background-color: #666699;



}

.annotation {

  width: 70%;
  margin-left: 15%;
  text-align: center;
  margin-top: 30px;
}

.number {

  width: 70%;
  margin-left: 15%;
  text-align: center;
  font-size: 3em;
  color:#FF6600;

}

/*
 IDs
 */

#section1-title{
  margin:auto;

}

#section1-arch-title{
  margin:auto;
  padding-top: 2%;
  padding-bottom: 5%;

}



#section1-ux-title{
  margin:auto;
  padding-top: 13%;
  padding-bottom: 5%;

}




#architect {
  display: block;
  position: fixed;
  top: 80px;
  left: 150px;
}

#ux-designer {
  display: block;
  position: fixed;
  top: 80px;
  left: 150px;
}



#arch-edu {
  margin-top: 10%;

}

#ux-edu {
  margin-top: 10%;

}

#ux-strong {
  color:#CCFFCC;
}

#section2-arch-number{

}

#text-wrap {

}
