

  header{
    overflow:auto;
    margin:auto;
    background-color:#C4C4C4;
    height:10%;
    width:100%;
    border-color: #33333;
    border: solid #6b6b6b 1px;
    box-shadow: inset 0px -1px 18px 10px rgba(0,0,0,0.05);


  }

  nav{
    display: inline;
    float:right;
    margin-right: 7%;

  }

  ul {

    list-style: none;
    text-decoration: none;
    overflow: auto;
    padding:0;

  }

  li {
    display: inline;
    font-family: "Lucida Sans", sans-serif;
    margin-right: 1.2em;
    overflow: auto;

  }


  a {
  font-weight: 500;
  color: #fff;
  text-decoration:none;
  text-shadow: 1px 1px 2px #666666;
  }

  button {

        border-radius: 5px;
        text-shadow: 1px 1px 2px #666666;
        font-family: "Lucida Sans", sans-serif;
        color: #ffffff;
        font-size: 1em;
        background: #2755B0;
        padding: 10px 20px 10px 20px;
        border: solid #6b6b6b 2px;
        text-decoration: none;
        cursor: pointer;

  }

  button::before{

  }

  button:hover{
    background: #518AFC;
  }
  button.detail{
      color: #2755B0;
      background: #ffffff;
      border: solid 2px #2755B0;
      text-shadow: 1px 0px 0px #666666;
      border-radius: 5px;


  }

  button.detail:hover{
      background: #518AFC;
      color: #ffffff;
  }





  body {
    background-color: #F0F0F0;
    background-image: url(http://cloud.avandamiri.com/image/3N410e2Q2Z3F/background.png);
    background-repeat: repeat;
    margin:auto;
  }


  main{
    font-family: "Lucida Sans", sans-serif;
    background-color: #fff;
    width:60%;
    font-weight: normal;
    margin: auto;
    margin-top: 30px;
    padding: 30px 30px 30px 30px;
    border-radius: 5px;
    box-shadow: -webkit-box-shadow: 1px -1px 10px 3px rgba(0,0,0,0.20);
    -moz-box-shadow: 1px -1px 10px 3px rgba(0,0,0,0.20);
    box-shadow: 1px -1px 10px 3px rgba(0,0,0,0.20);
    max-width: 800px;
    overflow: auto;
  }

  hr{
    width:65%;
    max-width: 650px;
    margin-top: 2.3em;
    height:1px;
    color: #AEACAB;
    box-shadow: 0px 1px 1px #fff;

  }

  footer{
    font-size: 0.9em;
    margin: auto;
    width: 60%;
    text-align: center;
    font-family: Arial;
    color: #AEACAB;
    text-shadow: 0px 2px 2px #fff;
  }



  //classes for product list;

  .product-list{
    display: block;
    padding: inherit;
    overflow: auto;
    margin-left: 0;

  }




  //product content

  .product-text {
    float: right;
    margin-right: 300px;


    }

  .product-img{
    float: left;

  }


  //classes for sign up content


      form {
      border: 1px solid #2755B0;
      width: 50%;
      }

      fieldset {
      border: 0;
      margin: 0;
      padding: 0;
      }

      input {
        font: 1.2em;
        margin: 0;
      }


      .userinfo {
      padding: 20px 20px 0 20px;
      }

      .userinfo label {
      color: #666666;
      display: inline;
      font-weight: bold;

      }
      .userinfo input {
      font-size: 14px;
      background: #fff;
      border: 2px solid #BEBEBE;
      color: #666666;
      padding: 10px;
      margin-top: 6px;
      margin-left: 20px;
      width: 300px;
      }

    

      .userinfo input:valid{
        border: 2px solid ##00FFFF;
      }

      .userinfo input:invalid{
        border: 2px solid #FF0000;
      }


      .cta {
        margin-top: 50px;
        border-top: 1px solid #c6c7cc;
        padding-top: 20px;
      }

      .cta label {
        color: #7c7c80;
        font-size: 12px;
        float: left;
        margin: 10px 0 0 20px;
      }
